@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
button, i{
    cursor: pointer;
}


.container{
    background-color: #008374;
    background-attachment: fixed;
    width: 100%;
    height: 750px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    color: #f7f9ec;
    align-items: center;
    background-color: #008374;
}
.info ul {
    display: flex;
    margin-right: 500px;
}
.info ul li{
    padding: 10px;
    transition: 1s;
}
.info ul li:hover{
    color: orangered;

}
.icons i{
    color: #add4d3;
    padding: 10px;
    transition: 1s;
    font-size: 20px;
}
.icons i:hover{
    color: orangered;
    transform: rotate(360deg);
}
.background{
    background-color: #ffffff;
    width: 100%;
    height: 70px;
}
.home{
    display: flex;
    justify-content: space-around;
    color: #f9fcfc;
    padding: 60px;
}
.info1{
    margin-top: 80px;
    
}
.info1 h1{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
.info1 p{
    color: #71bab2;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.info1 button{
    margin-top: 40px;
    padding: 18px 45px;
    border-radius: 30px;
    border: 1px solid #319b8f;
    background-color: #1a9082;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 1s;
}
.info1 button:hover{
    transform: scale(1.1);
    background-color: orangered;
    color: black;
}
.btn span{
    margin-left: 30px;
    font-weight: 700;
}
.btn i{
    color: #7ec0b9;
    
}
.cards{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: -220px;
    padding: 85px;
}
.card{
    width: 23%;
    height: 270px;
    background-color: #008d7d;
    color: #ffffff;
    border-radius: 15px;
    padding: 1px;
    transition: 1s;
}
.card:hover{
    transform: scale(1.1);
}

.card img{
    margin-top: 70px;
    transform: 1s;
}
.card h2{
    margin-top: 20px;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.title h2{
    font-weight: 400;
    color: #222222;
    font-size: 40px;
    letter-spacing: 1px;
}
.border{
    border: 1px solid #008374;
    width: 4%;
    height: 3px;
    margin: auto;
    background-color: #008374;
    margin-top: 15px;
}
.title p{
    margin-top: 30px;
    color: #909090;
}
.aboutus{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
    padding-left: 60px;
}
.info2{
    width: 55%;
    margin-left: 25px;
}
.info2 h2{
    color: #222222;
    letter-spacing: 3px;
}
.info2 p{
    margin-top: 10px;
    width: 80%;
    color: #535353;
    
}
.info2 img{
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
    height: 400px;

}
.info3{
    width: 45%;
    margin-top: -15px;
}
.info3 p{
    margin-top: 10px;
    width: 80%;
    color: #535353;
    line-height: 25px;
}
.info3 ul {
    margin-top: 20px;
}
.info3 ul li{
    padding-bottom: 15px;
    width: 80%;
    line-height: 25px;
}
.info3 ul li i{
    color: #008374;
}
.info3 .img22{
    position: relative;
}
.info3 img{
    width: 85%;
    border-radius: 15px;
    margin-top: 20px;
    height: 300px;
}
.img22 i {
    border-radius: 50%;
    background-color: #008374;
    padding: 25px;
    color: #ffffff;
    position: absolute;
    top: 135px;
    left: 210px;
}
p{
    font-family: initial;
}
.clients{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}
.clients img{
    width: 6%;
    transition: 1.5s;
}
.clients img:hover{
    transform: scale(1.5);
}
.info4{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.info4 .img{
    width: 40%;
}
.info4 img{
    width: 100%;
}
.info5{
    width: 40%;
    margin-top: -60px;
}
.info5 ul li {
    margin-top: 30px;
    
}
.info5 ul li a{
    color: #222222;
    font-weight: 700;
}
.info5 ul li span  {
    font-size: 40px;
    color: #008374;
    font-weight: 700;
}
.info5 ul li .s{
    font-size: 11px;
    color: #717171;
    letter-spacing: 2px;
}
.background1{
    background-image: url(img/cta-bg.jpg);
    width: 85%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    position: relative;
    
}
.background2{
    width: 100%;
    height: 500px;
    background-color: #00000078;
    border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    /* width: 65%; */
    align-items: center;
    position: sticky;
    top: 0;
  z-index: 1000;
  background-color: #008374;
}
nav ul{
    margin-right: -300px;
}
nav ul li{
    padding: 17px;
    display: inline-block;
}
nav ul li span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: #f85a40;
    margin-top: 5px;
}
nav ul li a{
    color: #add4d3;
    transition: 1s;
}
nav ul li a:hover{
    color: #3f3d56;
}
nav ul li:first-child a{
    color:white;
}
nav .logo{
    /* margin: auto;
    width: 54%; */
    margin-left: -275px;
    margin-top: -10px;
}
nav .logo h1{
    color:white;
    letter-spacing: 2px;
    font-size: 25px;
}
nav .dropIcon{
    font-size: 13px;
    color: #add4d3;
    margin-left: 5px;
}
.logo span{
    color:#f85a40;
}

.info6{
    text-align: center;
    position: absolute;
    top: 125px;
    color: #ffffff;
    left: 95px
}
.info6 i{
    border-radius: 50%;
    background-color: #008374;
    padding: 25px;
    color: #ffffff;
}
.info6 h2{
    margin-top: 20px;
    font-size: 30px;
}
.info6 p{
    margin-top: 20px;
    font-size: 18px;
}
.info6 button{
    margin-top: 40px;
    padding: 12px 70px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 1s;
}
.info6 button:hover{
    transform: scale(1.1);
    background-color: orangered;
    color: black;
}
.ourteam{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 100px;

}
.info0{
    box-shadow: 5px 5px 5px 5px gainsboro;
    height: 400px;  
    width: 22%;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
}
.info0:hover{
    transform: scale(1.1);
    background-color: orangered;
}
.info0 img{
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
}
.info0 h2{
    margin-top: 10px;
}
.info0 p{
    margin-top: 20px;
}
.iconsteam {
    border: 1px solid gray;
    border-radius: 50%;
    color: grey;
    /* margin-top: 20px; */
    padding: 8px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}
.service{
    background-color: rgb(246, 246, 246);
}
.service .conatiner1{
    width: 80%;
    margin: auto;
    margin-top: 200px;
    /* display: flex; */
    padding: 1px;
   
}
.service .conatiner1 .serviceHeader{
    text-align: center;
    margin-top: 50px;
}
.service .conatiner1 .serviceContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 150px;
    /* justify-content: space-between; */
}
.service .conatiner1 .serviceContent .serviceCard{
    width: 31%;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    transition: 1s;
}
.service .conatiner1 .serviceContent .serviceCard .cardContent{
    padding: 10px;
}

.service .conatiner1 .serviceContent .serviceCard .cardContent .headerBorder{
    display: block;
    width: 160px;
    height: 5px;
    background-color: rgb(238,238,238);
    margin: 10px 0;
}
.service .conatiner1 .serviceContent .serviceCard .cardContent p{
    padding: 10px 0;
}
.service .conatiner1 .serviceContent .serviceCard:hover{
    transform: scale(1.1);
    background-color: orangered;
}
.service .conatiner1 .serviceContent .serviceCard .cardContent a{
    display: block;
    padding: 10px 0;
    color:rgb(0, 147, 188)
}
/* ----------------------Service Section End----------------------------------- */
.parent{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 120px;
}
.pepole{
    box-shadow: 5px 5px 5px 5px gainsboro;
    height: 300px;  
    width: 28%;
    border-radius: 10px;
    position: relative;
    transition: 1s;
}
.pepole:hover{
    transform: scale(1.1);
    background-color: orangered;
    color: white;
}
.pepole p{
    margin-top: 20px;
    margin-left: 20px;
    color: #222222;
    letter-spacing: 1px;
    
}
.pepole span{
    color: #008374;
    font-size: 25px;
    margin-right: 10px;
}
.pepole i{
    color: gold;
    margin-top: 10px;
}
.pepole h3{
    margin-top: 10px;
}
.pepole1{
    display: flex;
    justify-content: space-between;
    
}
.type{
    position: absolute;
    top: 20px;
    left: 100px;
}
.parent img{
    width: 20%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.portfolio{
    margin-top: 100px;
    background-color: rgb(246, 246, 246);
    width: 100%;
    /* height: 750px; */
    padding: 1px;
}
.r{
    margin-top: 30px;
}
.info-portfolio{
    text-align: center;
    margin-top: 50px;
}
.info-portfolio a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.cards-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
    padding: 20px;
    flex-wrap: wrap;
}
.img-cards1{
    height: 450PX;
    box-shadow: 5PX 5PX 10PX gray;
    margin:10PX;
    width: 30%;
    background-color: white;
    display: none;
}
.img-cards1:target{
    display:  inline-block;
}

.img-cards1 img{
    width: 100%;
}
.img-cards1 h2{
    margin-top: 20px;
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 20px;
}
.img-cards1 p{
    color: gray;
    margin-top: 20px;

    text-transform: capitalize;
    margin-left: 20px;
}
.active{
    color: #008374 !important;
}
/* ----------------------Protifilio Section End----------------------------------- */
/* ----------------------Price Section Start----------------------------------- */
.price {
    background-color: rgb(246, 246, 246);
}
.price .conatiner {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    padding: 1px;
}
.price .planContainer {
    display: flex;
}
.price .planContainer .plan {
    width: 50%;
    background-color: white;
    /* box-shadow: 0px 1px 20px 3px black; */
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.plan h1 {
    color: rgb(85, 85, 85);
}
.plan.height-500{
    height: 510px;
}
.plan .priceIcon .cubeIcon {
    font-size: 35px;
    padding: 20px;
    border-radius: 50%;
    background-color: #008374;
    color: white;
    margin: 10px;
}
.plan h2 {
    font-size: 40px;
    color: rgb(248, 90, 64);
}
.plan h2 sup {
    font-size: 30px;
}
.plan h2 span {
    font-size: 20px;
    color: rgb(146, 154, 159);
}
.plan .planText {
    text-align: left;
}
.plan .planIcon {
    display: flex;
    margin: 10px;
}
.plan .checkIcon {
    margin-right: 10px;
    color: #008374;
}
.plan .checkIcon.xMark {
    color: rgb(182, 187, 191);
}
.plan .lineThrough {
    text-decoration: line-through;
    color: rgb(182, 187, 191);
}
.plan button {
    width: 50%;
    border: 1px solid #008374;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    color: #008374;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
}
.price .center{
    height: 585px;
    position: relative;
    top: -40px;
    border: 5px solid #008374;
}
.price .center h2{
    padding-top: 33px;
}
.price .center .planText{
    padding-top: 7px;
}
.price .center button{
    margin-top: 30px;
}
.quetions{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}
.quetions-info{
    /* margin-left: 100px; */
    margin-left: 100px;
    margin-top: 30px;
}
.quetions-info h3{
    font-size: 40px;
    font-weight: 400;
}
.quetions-info h2{
    font-size: 30px;
    font-weight: 900;  
}
.quetions-info p{
    margin-top: 10px;
}
.quetions-info1{
    width: 70%;
}
.quetions-info2{
    box-shadow: 1px 1px 5px 1px gainsboro;
    height: 50px;
    padding: 30px 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: 1s;
}
.quetions-info2:hover{
    transform: scale(1.1);
}
.quetions-info2 p{
    margin-right: 150px;
    font-weight: 700;
    width: 70%;
}
.quetions-info2 span{
    color: #008374;
    font-weight: 700;
    
}
.recent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    padding: 70px 100px;
}
.img-recent{
    width: 30%;
    height: 480PX;
    box-shadow: 1PX 1PX 0PX 0px gainsboro;
    margin:10PX;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    transition: 1s;
}
.img-recent:hover{
    transform: scale(1.1);
    background-color: orangered;
    color: white;
}
.img-recent img{
    width:100% ;
}
.img-recent h3{
    margin-bottom: 10px;
    color: gray;
    margin-left: 20px;
    margin-top: 10px;

}
.img-recent p{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 80%;
    font-weight: 900;
}
.op img{
text-align: center;
    margin-left: 20px;
    width: 50px;
    border-radius: 50%;
}
.ap{
    text-align: center;
margin-top: -50px;
margin-right: 100px;
}
.ap h4{
/* color: grey; */
text-transform: capitalize;
font-size: 15px;
margin-bottom: 5px;
}
.ap a{
    text-decoration: none;
    color: grey;
    font-size: 17px;
}
.contact {
    width: 85%;
    box-shadow: 1px 1px 2px 2px gainsboro;
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
    margin-right: 100px;
    border-radius: 10px;
    height: 500px;
}
.contact .contact-left{
    background-color: #008374;
    width: 40%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 500px;
    /* margin-left: -70px; */
    padding: 1px;
    margin-left: -27px;
}
.contact .contact-left .contact-card{
    border: 1px solid white;
    width: 90%;
    margin: 20px;
    height: 90px;
    border-radius: 5px;
    display: flex;
    color: #ffffff;
    align-items: center;
    background-color: #009282;
    border: none;
    padding: 10px;
    transition: 1s;
}
.contact .contact-left .contact-card:hover{
    transform: scale(1.1);
    background-color: orangered;
    color: black;
}
.contact .contact-left .contact-card .icon99{
    border-radius: 50px;
    background-color: #33a89b;
    padding: 15px;
    margin-left: 5px;
}
.contact .contact-left .contact-card .info78{
    margin-left: 20px;
    line-height: 1.6;
}
.contact .contact-right{
    margin-top: 30px;
}
.contact .contact-right .name {
    display: flex;
    justify-content: space-around;
}
.contact .contact-right .name input{
    padding: 10px 65px;
}
.y{
    margin-left: 30px;
}
.contact .contact-right .name1 input{
    padding: 10px 232px;
    margin-top: 20px;
}
.contact button{
    background-color: #008374;
    padding: 15px 40px;
    color: #ffffff;
    border-radius: 20px;
    margin-left: 230px;
    margin-top: 20px;
    border: none;
    transition: 1s;
}
.contact button:hover{
    transform: scale(1.1);
    background-color: orangered;
    color: black;
}
textarea{
    margin-top: 20px;
}
.foot{
    background-color: #008374;
    width: 100%;
    height: 500px;
    margin-top: 200px;
}
.footer{
    
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.footer1 h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
}
.footer1{
    margin-top: 50px;
}
.footer1 p{
    margin-top: 25px;
    color: white;
    width: 100%;
}

.footer2{
    margin-top: 50px;
    font-size: 14px;
}
.footer2 h2{
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 1px;
}
.footer2 ul li{
    color: #b3dac6;
    padding: 5px;
    margin-right: 15px;
    margin-top: 5px;
}
.footer3{
    margin-top: 50px;
    color: #ffffff;
    font-size: 14px;
}
.footer3 p{
    margin-top: 10px;
    line-height: 25px;
}
.footer3 span{
    color: gainsboro;
}
.footer3 h3{
    margin-top: 20px;
}
.iconsteam {
    border: 1px solid gray;
    border-radius: 50%;
    color: gainsboro;
    padding: 8px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}
.r{
    color: #ffffff;
    font-weight: 900;
}
.t{
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
}
.b{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
